    #main-button:hover{
        .frist-button{
            background-color: #00897B;
        }
        #second-button{
            background-color: #00897B;
            left:1rem;
            transform: rotate(0deg);
        }
    }
