.header-image {
    background-image: url("https://res.cloudinary.com/dbju6ds0a/image/upload/f_auto,q_auto/v1/test/tvtdkl1ejyk8xtqm9swe");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    .vintage{
        background: radial-gradient(#636363, #000000);
    }
}